@import 'tailwindcss';

@theme {
  --color-brand-blue: #0573cc;
  --color-action-blue: #077fbd;
  --color-base-bg: #f5f5f7;
  --color-dark-surface: #101010;
}

body {
  background-color: var(--color-base-bg);
}
